<%page expression_filter="h" args="section_data"/>

<%!
from django.utils.encoding import escape_uri_path
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>

<div>
    <p>For analytics about your course, go to <a href="https://thales-reporting.moocit.fr" target="_blank">Thales Learning Hub Insights</a></p>
</div>
